@tailwind base;

@layer base {
    body {
        @apply text-primary;
        @apply bg-gray-900;
    }

    h1 {
        @apply text-[2.125rem];
        @apply font-bold;
    }

    h2 {
        @apply text-2xl;
        @apply font-bold;
    }

    h3 {
        @apply text-xl;
        @apply font-bold;
    }
}

@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 16px;
    height: 0px;

	background-color: #151515;
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 6px solid #151515;
	background-color: #ccc;
}
